--extra-index-url https://download.pytorch.org/whl/cpu

asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
Django
django-allauth
django-crispy-forms
django-debug-toolbar
django-environ
django-redis
django-extensions
fido2
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
psycopg2
pycparser
PyYAML
regex
requests
safetensors
sqlparse
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
whitenoise
gunicorn
django-allauth[mfa]
django-anymail
bitsandbytes
accelerate
